// -----------------------------------------------------------------------------
// _error.scss
// This file contains all styles related to the error
// -----------------------------------------------------------------------------

.error {
	position: relative;
	width: 100vw;
	max-width: 1200px !important;
	margin: 0 auto;
	//padding: 60px 0;

	// Props
	// ==========================================================================

	h2 {
		margin-bottom: 1rem;
	}

	&-code {
		color: $secondary;
		font-weight: 500;
		margin-bottom: 6px !important;
	}

	// Main
	// ==========================================================================

	&-main {
		padding: 50px 0;
	}

	// Main
	// ==========================================================================

	&-info {
		padding-bottom: 50px;

		&-card {
			margin-top: 0;
		}
	}
}