@font-face {
    font-family: 'Atten Round New Book';
    src: url('fonts/AttenRoundNew-Book.woff2') format('woff2'),
        url('fonts/AttenRoundNew-Book.woff') format('woff'),
        url('fonts/AttenRoundNew-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atten Round New';
    src: url('fonts/AttenRoundNew-Bold.woff2') format('woff2'),
        url('fonts/AttenRoundNew-Bold.woff') format('woff'),
        url('fonts/AttenRoundNew-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

