// -----------------------------------------------------------------------------
// _form.scss
// This file contains all styles related to the forms of the site.
// -----------------------------------------------------------------------------

.form {
    $self: &;

    position: relative;
    width: 100%;
    transition: margin-top 200ms ease;

    //&-input,
    //&-select {
    //    &:active,
    //    &:focus {
    //        border-color: $primary;
    //    }
    //}

    // Input
    // =========================================================================

    &-input {
        position: relative;
        width: 100%;
        height: auto;
        padding: $form-input-padding-x $form-input-padding-y;
        border: 1px solid $grey-light;
        outline: none;
        color: $form-input-color;
        border-radius: $form-input-border-radius;
        background: transparent;
        font-weight: $form-input-font-weight;
        -webkit-font-smoothing: antialiased;
        @include px-to-rem(14);
        -webkit-appearance: none;
        appearance: none;
        @include formInputBoxShadow;

        @include firefox {
            font-weight: 500 !important;
        }

        &-white {
            background-color: $white;
        }

        &:not(:first-of-type) {
            margin-top: 10px;
        }

        &:disabled {
            background-color: rgba($secondary, 0.04);
            box-shadow: none !important;
        }

        @include on-event {
            box-shadow: $form-box-shadow;
        }



    }

    &-group {
        $self: &;

        position: relative;
        display: block;
        width: 100%;
        margin-bottom: $form-group-margin-bottom;
        transition: all 200ms ease;

        // Error
        // =========================================================================

        &-error {

            #{$self}-message {
                opacity: 1;
                transform: translateY(calc(100% + 2px));
            }
        }

        // No Margin
        // =========================================================================

        &-no-margin {
            margin-bottom: 0;
        }
    }

    // Input With Icon
    // =========================================================================

    &-input-icon {
        position: relative;
        width: 100%;

        input {
            padding-left: 44px;
        }

        i {
            position: absolute;
            color: rgba($secondary, 0.4);
            left: 20px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 9;
        }
    }

    // Group/Row (With Border)
    // =========================================================================

    &-row {
        align-items: center;
        padding: 20px 0;
        transition: height 200ms;

        &-group {
            max-width: 1400px;
            margin: 0 auto 3rem auto;
        }

        #{$self}-group {
            //background-color: pink;
            margin-bottom: 0;
        }

        &-border {
            border-bottom: 1px solid $grey-light;

            @include media-desk {
                margin-left: 15px !important;
                margin-right: 15px !important;

                & > div:first-of-type {
                    padding-left: 0;
                }

                & > div:last-of-type {
                    padding-right: 0;
                }
            }


            &-top {
                border-top: 1px solid $grey-light;
            }
        }

        @include media-tab {
            padding: 30px 0;
        }

        @include media-desk {
            padding: 40px 0;

            &-group {

                p:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    // Textarea
    // =========================================================================

    &-textarea {
        font-weight: 400;
        padding: 24px;
        min-width: 100%;
        max-width: 100%;
    }

    // Select
    // =========================================================================


    &-select {
        position: relative;
        width: 100%;
        border: none;
        background-color: transparent;
        color: $secondary;
        font-weight: $form-input-font-weight;
        @include px-to-rem(14);
        -webkit-appearance: none;
        appearance: none;
        outline: none;
        cursor: pointer;
        padding-left: $form-input-padding-x;
        padding-right: $form-input-padding-x * 4;
        z-index: 2;

        @include firefox {
            font-weight: 500;
        }

        &-cont {
            width: auto;
            display: flex;
            background-color: $white;
            padding: 0;
            height: $btn-fixed-height-mob;

            // Arrow
            &:after {
                content: url("~@/assets/images/form-arrow-down.svg");
                position: absolute;
                display: block;
                top: 50%;
                right: $form-input-padding-x;
                width: 20px;
                height: 20px;
                transform: translateY(calc(-50% - 2px));
                z-index: 0;
            }
        }

        @include media-tab {
            height: $btn-fixed-height-tab;

            &-cont {
                height: $btn-fixed-height-tab;
            }
        }

        @include media-desk {
            height: $btn-fixed-height-desk;

            &-cont {
                height: $btn-fixed-height-desk;
            }
        }
    }

    // Checkbox
    // =========================================================================

    &-checkbox {
        display: flex;
        align-items: center;

        &-text {
            color: rgba($secondary, 0.7);
            font-size: 0.8rem;
            margin-left: 10px;
        }

        input {
            display: none;
            position: absolute;
            top: -99999999px;
            left: -99999999px;

            &:checked + label {
                background-color: $primary;
                border-color: $primary;

                i {
                    opacity: 1;
                }
            }
        }

        label {
            display: flex;
            justify-content: center;
            align-items: center;
            height: $form-checkbox-size;
            width: $form-checkbox-size;
            min-width: $form-checkbox-size;
            min-height: $form-checkbox-size;
            background-color: $white;
            border-radius: 3px;
            cursor: pointer;
            border: 1px solid $grey-light;
            transition: background-color 120ms, border 120ms;
            will-change: background-color, border;

            i {
                font-size: 12px;
                font-weight: 500;
                color: $white;
                opacity: 0;
                transform: translateY(1px);
                transition: opacity 120ms;
            }
        }

        &-dark label {
            border-color: rgba($grey, 0.8);
        }
    }

    // Range
    // =========================================================================

    &-range {
        -webkit-appearance: none;
        width: 100%;
        height: 5px;
        max-height: 5px;
        border-radius: 10px;
        background-color: rgba($secondary, 0.15) !important;
        border: 1px solid $grey-light;
        outline: none;
        opacity: 1;
        transition: opacity .2s;

        ::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 30px;
            height: 30px;
            border-radius: 100%;
            background: $primary;
            cursor: pointer;
        }

        ::-moz-range-thumb {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: $primary;
            cursor: pointer;
        }
    }

    // Radio
    // =========================================================================

    &-radio {
        display: flex;
        align-items: center;
        margin-right: 30px;

        &-cont {
            display: flex;
            align-items: center;
        }

        &-text {
            color: rgba($secondary, 0.7);
            font-size: 14px;
            transition: all .2s ease;
        }

        input {
            display: none;
            position: absolute;
            top: -99999999px;
            left: -99999999px;

            &:checked + label {
                border: 2px solid $primary;

                &:after {
                    transform: scale(1);
                    transition: all .2s cubic-bezier(.35,.9,.4,.9);
                    opacity: 1;
                }
            }

            &:checked ~ #{$self}-radio-text {
               color: $copy;
            }
        }

        label {
            position: relative;
            display: block;
            float: left;
            margin-right: 6px;
            width: 20px;
            height: 20px;
            border: 1px solid $grey-light;
            border-radius: 100%;
            -webkit-tap-highlight-color: transparent;
            transition: all .2s ease;
            cursor: pointer;
            will-change: border-color;

            &:after {
                content: '';
                position: absolute;
                top: 3px;
                left: 3px;
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background: $primary;
                transform: scale(0);
                transition: all .2s ease;
                opacity: .08;
                pointer-events: none;
            }
        }
    }

    // Label
    // =========================================================================

    &-label {
        font-weight: 500;
        font-size: 0.8rem;
        color: $grey;
        margin-bottom: 2px;
    }

    // Actions
    // =========================================================================

    &-actions {
        display: flex;
        align-items: center;
    }

    // Message
    // =========================================================================

    &-message {
        position: absolute;
        bottom: 0;
        left: 0;
        display: block;
        font-size: 13px;
        color: $orange;
        font-weight: 600;
        opacity: 0;
        transform: translateY(calc(100% - 6px));
        transition: opacity 200ms ease, transform 200ms ease;
        will-change: opacity, transform;

        &:before {
            content: "\f06a";
            display: inline-block;
            font-family: 'Font Awesome 5 Pro';
            font-weight: 300;
            margin-right: 5px;
        }
    }

    // Check
    // =========================================================================


    // Error & Valid
    // =========================================================================

    &-group {

        &-error,
        &-valid {
            //margin-bottom: 1rem;


        }

        &-error {

            input {
                //border: 1px solid $orange;
            }
        }
    }

    // Is Invalid
    // =========================================================================

    &-is-invalid {
        margin-top: 50px;
    }

    // Global Form Error
    // =========================================================================

    &-error {
        position: absolute;
        display: flex;
        align-items: center;
        color: $orange;
        font-size: 13px;
        font-weight: 500;
        margin-bottom: $form-group-margin-bottom;
        opacity: 0;
        transform: translateY(calc(-100% - 6px));
        transition: opacity 200ms ease, transform 200ms ease;
        will-change: opacity, transform;

        &:before {
            content: "\f06a";
            display: inline-block;
            font-family: 'Font Awesome 5 Pro';
            font-weight: 300;
            margin-right: 5px;
        }

        // Use animation here not transition
        &-show {
            opacity: 1;
            transform: translateY(calc(-100% - 6px));
        }
    }

    // Url
    // =========================================================================

    &-url {

        h4 {
            margin-top: 4px;
            font-weight: 500;
            font-size: 0.8rem;
            color: $secondary;
        }

        &-cont {
            position: relative;
            display: flex;

            i {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                right: 0;
                top: 50%;
                height: 50px;
                width: 	50px;
                transform: translateY(-50%);
                background-color: $white;
                color: $secondary;
                border-top-right-radius: $form-input-border-radius;
                border-bottom-right-radius: $form-input-border-radius;
                border: 1px solid $grey-light;
            }
        }
    }

    // Autocomplete
    // =========================================================================

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }

    // Tablet Down
    // =========================================================================

    @include media-tab-down {

        &-row {

            h4 {
                margin-bottom: 4px;
            }
        }
    }

	// Tablet
	// =========================================================================

	@include media-tab {


	}

	// Desktop
	// =========================================================================

	@include media-desk {

	}
}

// AutoComplete
// =========================================================================

input:-internal-autofill-selected {
    background-color: $secondary !important;
}

// Placeholder
// =========================================================================

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
   @include formPlaceholder
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    @include formPlaceholder
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    @include formPlaceholder
}