// -----------------------------------------------------------------------------
// _header.scss
// This file contains all styles related to the header of the site.
// -----------------------------------------------------------------------------

.header {
	$self: &;

	margin-bottom: $header-margin-bottom-mob;

	// With Actions
	// =========================================================================

	&-with-actions {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		width: 100%;
	}

	// Icon
	// ==========================================================================

	&-icon-cont {
		display: flex;
		align-items: center;

		i {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 50px;
			height: 50px;
			min-width: 50px;
			min-height: 50px;
			background-color: $white;
			border-radius: 100%;
			margin-right: 1rem;
			color: $secondary;
			font-size: 1.2rem;
			box-shadow: 0 0 10px 0 rgba($black, 0.06);
		}
	}

	// Large Margin (No Tabs)
	// =========================================================================

	&-margin-large {
		margin-bottom: $header-margin-bottom-mob + 0.6rem;
	}

	// Mobile Only
	// =========================================================================

	@include media-mob-down {

		&-hide-mob {
			display: none !important;
		}
	}

	// Tablet
	// =========================================================================

	@include media-tab {
		margin-bottom: $header-margin-bottom-tab;

		&-with-actions {
			align-items: center;
		}

		&-margin-large {
			margin-bottom: $header-margin-bottom-tab + 0.6rem;
		}
	}

	// Desktop
	// =========================================================================

	@include media-desk {
		margin-bottom: $header-margin-bottom-desk;

		&-margin-large {
			margin-bottom: $header-margin-bottom-desk + 0.6rem;
		}
	}
}
