// -----------------------------------------------------------------------------
// _button.scss
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
	$self: &;

	position: relative;
	display: inline-flex;
	justify-content: center;
	background-color: transparent;
	padding: $btn-padding;
	cursor: pointer;
	outline: none;
	font-size: 14px;
	font-weight: 600;
	height: auto;
	user-select: none;
	line-height: 1;
	color: $secondary;
	border-radius: $btn-border-radius;
	border: 1px solid $grey-light;
	transition: box-shadow 200ms ease;
	will-change: box-shadow;

	// Props
	// =========================================================================

	i {
		margin-right: 6px;
		margin-left: -4px;
	}

	// Arrow
	// =========================================================================

	&-arrow {
		display: flex;
		align-items: center;

		&:after {
			content: url('~@/assets/images/btn-arrow.svg');
			position: relative;
			display: block;
			margin-left: 16px;
			transition: opacity 100ms ease;
		}
	}

	// Icon
	// =========================================================================

	&-icon {
		padding: 0;
		width: $btn-icon-width;
		height: $btn-form-fixed-height;
		min-width: $btn-icon-width;
		min-height: $btn-form-fixed-height;
		align-items: center;
		font-size: 1.2rem;
		border-radius: $btn-border-radius;
		color: $white;
	}

	// Popover Icon
	// =========================================================================

	&-popover {
		padding-right: 8px;

		&-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 40px;
			height: 36px;
			background-color: $orange-light;
			border-radius: 4px;
			margin-left: 16px;

			i {
				font-weight: 700;
			}
		}
	}

	// Loading
	// =========================================================================

	&-loading {
		transition: none;
		pointer-events: none;
		color: transparent !important;

		&:before {
			content: "";
			width: 18px;
			height: 18px;
			border: 2px solid $secondary;
			border-right-color: transparent !important;
			border-radius: 50%;
			display: inline-block;
			animation-duration: 0.75s;
			animation-iteration-count: infinite;
			animation-name: spinner;
			animation-timing-function: linear;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -9px;
			margin-top: -9px;
		}

		&:after {
			opacity: 0;
		}

		@keyframes spinner {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}
	}

	&:hover {
		box-shadow: 0 0 10px 0 rgba($copy, 0.10);
	}

	// Colours
	// =========================================================================

	&-white {
		background-color: $white;
		color: $secondary;
	}

	&-orange {
		background-color: $orange;
		color: $white;
	}

	&-blue {
		background-color: $primary;
		color: $white;
	}

	&-green {
		background-color: $green;
		color: $white;
	}

	// Margin
	// =========================================================================

	&-margin {
		margin-left: $btn-margin-x;
		margin-right: $btn-margin-x;
	}

	&-margin-right {
		margin-right: $btn-margin-x;
	}

	&-margin-left {
		margin-left: $btn-margin-x;
	}

	// Fixed Height
	// =========================================================================

	&-fixed-height {
		height: $btn-form-fixed-height;
		padding-top: 0;
		padding-bottom: 0;
		align-items: center;
	}

	// Tablet
	// =========================================================================

	@include media-tab {
	}

	// Desktop
	// =========================================================================

	@include media-desk {
	}
}
