// -----------------------------------------------------------------------------
// _collapse.scss
// This file contains all styles related to the spinner component.
// -----------------------------------------------------------------------------

.el-collapse,
.el-collapse-item__wrap,
.el-collapse-item__header {
	//border: none !important;
}

.el-collapse-item__content {
	padding-bottom: 1rem;
}


.el-collapse {
	border: none;

	&-item {


		&__header {
			padding: 0 20px;
			border-bottom: 1px solid #EBEEF5;

		}

		&__wrap {
			padding: 0 20px;
			border-bottom: 1px solid #EBEEF5;
		}
	}
}

.collapse {


	&-bg-header {
		.el-collapse-item {


			&__header {
				//background-color: rgba(#E4E7ED, 0.4) !important;
			}

			&__wrap {
				padding: 0 20px;
				//margin-top: 25px;
			}

		}


	}

}
