// -----------------------------------------------------------------------------
// _field.scss
// This file contains all styles related to the field component.
// -----------------------------------------------------------------------------

.field {
	$self: &;

	background: $bg-color;
	border: 2px solid $grey-light ;
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 1.6rem;

	// Props
	// =========================================================================

	&:last-child {
		margin-bottom: 0;
	}


	textarea,
	input {
		background-color: $white;
		font-weight: 500 !important;
	}

	// Group
	// =========================================================================

	&-group {
		background: $white;
		margin-bottom: 1.6rem;
		//padding: 0 26px 26px;
		border-radius: 10px;
		border: 2px solid $grey-light;

		&-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 60px;
			border-bottom: 2px solid $grey-light;
			padding: 0 26px;

			h4 {
				margin-bottom: 0;
			}
		}

		&-height {
			max-height: initial;
			transition: height 1s ease;
			will-change: max-height;
			overflow: hidden;
		}

		&-wrapper {
			padding: 26px;
		}
	}

	// Title
	// =========================================================================

	&-title {

		&-cont {
			display: flex;

			p {
				margin-bottom: 0;
				font-size: 0.8rem;
			}
		}
	}

	// Container
	// =========================================================================

	&-cont {

		input,
		textarea {
			font-weight: 500;
			background-color: $white;
		}
	}

	// Prepend / Append
	// =========================================================================

	&-prepend-append {
		position: relative;
		display: flex;
		align-items: center;
		border-radius: $form-input-border-radius;
		overflow: hidden;
		border: 2px solid $grey-light;
		background-color: $white;
		@include formInputBoxShadow;

		#{$self}-prepend,
		#{$self}-append {
			display: flex;
			align-items: center;
			justify-content: center;
			width: auto;
			min-width: 80px;
			height: 52px;
			padding: 0 12px;
			background-color: $white;
			font-size: 0.875rem;
			font-weight: 500;
			text-align: center;
			color: $form-input-color;
			white-space: nowrap;
		}

		&#{$self}-focused {
			box-shadow: $form-box-shadow;
		}

		#{$self}-prepend {
			border-right: 2px solid $grey-light;
		}

		#{$self}-append {
			border-left: 2px solid $grey-light;
		}

		input {
			border-radius: 0;
			border-width: 0;

			@include on-event {
				box-shadow: none;
			}
		}

		&-range {

			input {
				margin: 0 14px;
				height: auto;
			}
		}
	}

	// Message
	// =========================================================================

	&-message {
		display: block;
		color: $orange;
		font-size: 13px;
		font-weight: 600;
		margin-top: 10px;
		margin-bottom: -2px;

		&:before {
			margin-right: 4px;
		}

		&-warning {

			&:before {
				content: "\f071";
				font-family: 'Font Awesome 5 Pro';
			}
		}
	}

	// Controls
	// =========================================================================

	&-controls {
		display: flex;
		align-items: center;
		border: 2px solid $grey-light;
		border-radius: 4px;
		padding: 0;

		&-chevron {

			&.active {
				transform: rotate(180deg);
			}
		}

		i {
			padding: 4px 6px;
			border-right: 1.6px solid $grey-light;
			color: $grey;
			cursor: pointer;
			font-size: 18px;
			transition: all 200ms ease;
			background-color: transparent;
			will-change: color;

			&:hover {
				color: $primary;
			}

			&:last-child {
				border-right-width: 0;
			}

			&:first-child {
				border-left-width: 0;
			}
		}
	}

	// Tablet
	// =========================================================================

	@include media-tab {
	}

	// Desktop
	// =========================================================================

	@include media-desk {
	}
}
