// -----------------------------------------------------------------------------
// _field.scss
// This file contains all styles related to the field component.
// -----------------------------------------------------------------------------

.field {
	$self: &;

	border-bottom: 1px solid $grey-light;
	padding: 1.4rem 1.2rem;
	border-right: 1px solid $grey-light;
	border-left: 1px solid $grey-light;

	&-group {
		box-shadow: 0 0 1px rgba(0,0,0,.12), 0 1px 6px rgba(0,0,0,.03), 0 6px 10px -8px rgba(0,0,0,.1);
		margin-bottom: 2.6rem;
		border-radius: 8px;
		overflow: hidden;
	}

	// Header
	// =========================================================================

	&-header {
		display: flex;
		width: 100%;
		justify-content: space-between;
		align-items: center;
		padding: 1.4rem;
		background-color: $white;
		border: 1px solid $grey-light;
		border-top-left-radius: 6px;
		border-top-right-radius: 6px;

		h4 {
			//font-size: 1rem;
		}
	}

	// Header
	// =========================================================================


	&-body {
		display: flex;
		flex-wrap: wrap;
		background-color: $white;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		border-right-width: 0;
	}

	// Props
	// =========================================================================


	&:last-child {
		margin-bottom: 0;
	}

	.form-select-cont,
	textarea,
	input {
		background-color: $white;
		font-weight: 500 !important;
		width: 100% !important;
	}

	// Height
	// =========================================================================

	&-height {
		max-height: initial;
		transition: height 1s ease;
		will-change: max-height;
		overflow: hidden;
	}

	// Title
	// =========================================================================

	&-title {

		h4 {
			font-weight: bold;
			font-size: 0.85rem;
		}

		p {
			margin-bottom: 10px;
		}

		&-margin-bottom {
			margin-bottom: 1rem;
		}
	}

	// Prepend / Append
	// =========================================================================

	&-prepend-append {
		position: relative;
		display: flex;
		align-items: center;
		border-radius: $form-input-border-radius;
		overflow: hidden;
		border: 1px solid $grey-light;
		background-color: $white;
		@include formInputBoxShadow;

		#{$self}-prepend,
		#{$self}-append {
			display: flex;
			align-items: center;
			justify-content: center;
			width: auto;
			min-width: 80px;
			height: 52px;
			padding: 0 12px;
			background-color: $white;
			font-size: 0.875rem;
			font-weight: 500;
			text-align: center;
			color: $form-input-color;
			white-space: nowrap;
		}

		&#{$self}-focused {
			box-shadow: $form-box-shadow;
		}

		#{$self}-prepend {
			border-right: 1px solid $grey-light;
		}

		#{$self}-append {
			border-left: 1px solid $grey-light;
		}

		input {
			border-radius: 0;
			border-width: 0;

			@include on-event {
				box-shadow: none;
			}
		}

		&-range {

			input {
				margin: 0 14px;
				height: auto;
			}
		}
	}

	// Message
	// =========================================================================

	&-message {
		display: block;
		color: $orange;
		font-size: 13px;
		font-weight: 600;
		margin-top: 10px;
		margin-bottom: -2px;

		&:before {
			margin-right: 4px;
		}

		&-warning {

			&:before {
				content: "\f071";
				font-family: 'Font Awesome 5 Pro';
			}
		}
	}

	// Button (Flexible Content & Repeater)
	// =========================================================================

	&-btn {
		display: flex;
		justify-content: flex-end;
	}


	// Mobile Down
	// =========================================================================

	@include media-mob-down {
		width: 100% !important;
	}

	// Tablet
	// =========================================================================

	@include media-tab {
	}

	// Desktop
	// =========================================================================

	@include media-desk {
	}
}
