// -----------------------------------------------------------------------------
// _icon.scss
// This file contains all styles related to any global icons.
// -----------------------------------------------------------------------------

// Variables
$icon-size: 36px;

.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: $icon-size;
	height: $icon-size;
	min-width: $icon-size;
	min-height: $icon-size;
	background-color: #fff;
	border-radius: 100%;
	margin-right: 10px;
	color: #7E8593;
	font-size: 14px;

	// Facebook
	// =========================================================================

	&-facebook {
		background-color: #3b5998;

		i {
			color: $white;
		}
	}

	// Twitter
	// =========================================================================

	&-twitter {
		background-color: #00acee;

		i {
			color: $white;
		}
	}
}
