// -----------------------------------------------------------------------------
// _popover.scss
// This file contains all styles related to the popover component.
// -----------------------------------------------------------------------------

// Variables
$popover-triangle-size: 20px;

.popover {
	$self: &;

	position: absolute;
	top: 0;
	left: 50%;
	border: 1px solid $grey-light;
	background-color: $white;
	padding: 4px;
	border-radius: 8px;
	box-shadow: 0 3px 20px 0 rgba($black, 0.08);
	transform: translate(-50%, -100%);
	z-index: 99;
	opacity: 0;
	transition: opacity 200ms ease;

	// Container
	// =========================================================================

	&-cont {
		display: inline-block;
		position: relative;
		width: auto;

		button {
			z-index: 99;
		}

		.popover:hover,
		button:hover + #{$self} {
			opacity: 1;
		}
	}

	&::before {
		content: "";
		position: absolute;
		width: 22px;
		height: 14px;
		bottom: 0;
		left: 50%;
		background:  url("~@/assets/images/popover-triangle.svg") no-repeat;
		background-size: cover;
		z-index: 100;
		transform: translate(-50%, calc(100% - 1px)) rotate(180deg);
	}

	// Item
	// =========================================================================

	&-item {
		position: relative;
		width: 120px;
		font-size: 13px;
		font-weight: 600;
		color: $secondary;
		padding: 6px 0;
		text-align: center;
		cursor: pointer;

		&-icon {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding-left: 12px;
			padding-right: 12px;

			i {
				margin-right: 10px;
			}
		}

		&:hover {
			background-color: rgba($primary, 0.07);
		}
	}

	// Mods
	// =========================================================================

	&-no-arrow {

		&::before {
			display: none !important;
		}
	}

	// Positions
	// =========================================================================

	&-top {


		&-right {
			left: auto;
			right: 0;
			transform: translate(90%, -90%);
		}
	}

	// Tablet
	// =========================================================================

	@include media-tab {
	}

	// Desktop
	// =========================================================================

	@include media-desk {
	}
}
