// -----------------------------------------------------------------------------
// _spinner.scss
// This file contains all styles related to the spinner component.
// -----------------------------------------------------------------------------

$spinner-size: 18px;
$spinner-size-large: 30px;

.spinner {
	position: relative;
	display: block;
	transition: none;
	pointer-events: none;
	color: transparent !important;
	min-width: $spinner-size;
	min-height: $spinner-size;

	// Loader
	// =========================================================================

	&:before {
		content: "";
		width: $spinner-size;
		height: $spinner-size;
		min-width: $spinner-size;
		min-height: $spinner-size;
		border: 2px solid $secondary;
		border-right-color: transparent !important;
		border-radius: 100%;
		display: block;
		animation-duration: 0.75s;
		animation-iteration-count: infinite;
		animation-name: spinner;
		animation-timing-function: linear;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -$spinner-size / 2;
		margin-top: -$spinner-size / 2;
	}

	&:after {
		opacity: 0;
	}

	@keyframes spinner {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	// Container
	// =========================================================================

	&-container {
		min-height: 40px;
		display: flex;
		justify-content: center;
		width: 100%;
		padding: 30px;
	}

	// Sizes
	// =========================================================================

	&-large {
		min-width: $spinner-size-large;
		min-height: $spinner-size-large;

		&:before {
			border-width: 3px;
			width: $spinner-size-large;
			height: $spinner-size-large;
			min-width: $spinner-size-large;
			min-height: $spinner-size-large;
			margin-left: -$spinner-size-large / 2;
			margin-top: -$spinner-size-large / 2;
		}
	}

	// Colours
	// =========================================================================

	&-white {

		&:before {
			border-color: $white;
		}
	}

	&-secondary {

		&:before {
			border-color: $secondary;
		}
	}

	&-grey {

		&:before {
			border-color: $grey;
		}
	}

	&-grey-light {

		&:before {
			border-color: $grey-light;
		}
	}

	&-blue {

		&:before {
			border-color: $primary;
		}
	}
}


