// -----------------------------------------------------------------------------
// _tabs.scss
// This file contains all styles related to the tabs component.
// -----------------------------------------------------------------------------

// Variables
$tabs-border: 1px solid $grey-light;
$tabs-border-radius: 10px;
$tabs-panel-padding: 36px;

.tabs {
	$self: &;

	display: flex;
	flex-wrap: wrap;
	width: 100%;
	overflow: visible;

	// Header
	// ==========================================================================

	&-header {
		width: 100%;
		display: block;
		border: $tabs-border;
		border-radius: $tabs-border-radius;
		z-index: 99;
		//background-color: $white;
		box-shadow: $form-box-shadow;
	}

	// Label
	// ==========================================================================

	&-label {
		font-size: $tabs-font-size;
		height: 50px;
		padding: $tabs-label-mobile-padding;
		cursor: pointer;
		opacity: 1;
		min-width: 50px;
		text-align: center;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		white-space: nowrap;
		vertical-align: top;
		text-decoration: none;
		position: relative;
		//overflow-x: hidden;
		color: $grey;
		-webkit-tap-highlight-color: transparent; // sass-lint:disable-line  no-vendor-prefixes
		font-weight: $tabs-font-weight;
		border-left: $tabs-border;
		border-right: $tabs-border;
		border-left-width: 0;
		z-index: 9999999;
		transition: border 200ms ease, background-color 200ms ease, color 200ms ease;
		will-change: border, background-color, color;

		&:first-child {
			border-top-left-radius: $tabs-border-radius;
			border-bottom-left-radius: $tabs-border-radius;
		}

		@include media-tab {
			min-width: 160px;
			padding: 0px
		}

		&-active {
			background-color: $white;
			color: $primary;
			font-weight: bold;

			&:after {
				opacity: 1;
			}
		}
	}

	// Panel
	// ==========================================================================

	&-panel {
		margin-top: 1.6rem;
		width: 100%;
		display: none;
		padding: $tabs-panel-padding;
		background: #fff;
		border: $tabs-border;
		border-radius: $tabs-border-radius;
		overflow: visible;

		&-naked {
			padding: 0;
			background-color: transparent;
			border: 0;
		}

		&-active {
			display: block;
			opacity: 1;
			transform: scale(1) !important; //Overwrite specificity of left and right tabs;
		}
	}


	// Bottom
	// ==========================================================================
	&-bottom {
		#{$self}-label {
			order: 1000;
			border-top: 0;

			&:after {
				top: 0;
				bottom: auto;
			}
		}

		#{$self}-panel {
			border-top: 0;
			border-bottom: $tabs-border-color;
		}
	}

}
