// -----------------------------------------------------------------------------
// _table.scss
// This file contains all styles related to the table component.
// -----------------------------------------------------------------------------

// Variables
$table-padding: 24px 26px;
$table-row-border-radius: 8px;

.table {
	width: 100%;
	max-width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 14px;
	font-weight: 300;
	overflow: visible;

	// Props
	// =========================================================================

	//Align last child right, no padding
	thead th:last-child,
	tbody td:last-child,
	tfoot th:last-child {
		text-align: right;
		//padding: 0;
	}

	//Border
	tbody tr,
	tfoot tr {
		border-top: 1px solid $grey-light;
	}

	//Common props body & footer (td & th)
	tbody td,
	tfoot th {
		font-size: 14px;
		padding: $table-padding;
		font-weight: 300;
		text-align: left;
	}

	p {
		margin-bottom: 0;
	}

	// Head
	// =========================================================================

	thead {
		th {
			font-size: 13px;
			padding: $table-padding;
			position: relative;
			text-align: left;
			height: 28px;
			line-height: 28px;
			font-weight: 600;
			color: rgba($secondary, 0.7);
		}
	}

	// Body
	// =========================================================================

	tbody {

		p,
		td {
			@include px-to-rem(14);
			color: rgba($secondary, 0.70);
			font-weight: 500;
			line-height: 1.4;
		}
	}

	// Hover
	// =========================================================================

	&-with-hover {
		padding-bottom: 20px;
		margin-bottom: 0;

		tbody tr {
			padding: 0 10px;
			transition: box-shadow 160ms ease, background-color 160ms ease, border-color 160ms ease;
			will-change: box-shadow, background-color, border-color;

			&:hover {
				background-color: $white;
				box-shadow: 0 3px 20px 0 rgba($black, 0.06);
				border-color: transparent;

				& + tr {
					border-color: transparent;
				}
			}

			td:first-child {
				border-top-left-radius: $table-row-border-radius;
				border-bottom-left-radius: $table-row-border-radius;
			}

			td:last-child {
				border-top-right-radius: $table-row-border-radius;
				border-bottom-right-radius: $table-row-border-radius;
			}
		}
	}

	// Checkbox
	// =========================================================================

	&-checkbox {
		width: 60px;
	}

	// Hover
	// =========================================================================

	&.table-hover tbody tr {
		transition: background-color 0.3s cubic-bezier(0.4, 0, 0.2, 1);

		&:hover {
			background-color: $table-hover-color;
		}
	}

	// Wrapper
	// =========================================================================

	&-wrapper {
		height: auto;
		width: auto;
		overflow-y: hidden;
	}

	// Scroll
	// =========================================================================

	&-scroll {
		width: 100% !important;
		height: 100% !important;
		overflow-x: scroll;
		overflow-y: hidden;
	}

	// Actions
	// =========================================================================

	&-actions {

		.icon-square {
			transition: background-color 160ms ease;
			will-change: background-color;
		}

		i {
			font-size: 16px;
		}
	}

	// Order
	// =========================================================================

	&-order {
		cursor: pointer;
		user-select: none;

		span {
			transition: color 180ms ease;
			will-change: color;
		}

		i {
			color: rgba($secondary, 0.7);
			font-size: 12px;
			margin-left: 4px;
			transition: 180ms ease, color 180ms ease;
			will-change: transform, color;

			&.active {
				transform: rotate(180deg);
			}
		}

		&.active {

			i,
			span {
				color: $primary;
			}
		}
	}
}