// -----------------------------------------------------------------------------
// _tabs.scss
// This file contains all styles related to the tabs component.
// -----------------------------------------------------------------------------

// Variables
$tabs-border: 1px solid $grey-light;
$tabs-border-radius: 10px;
$tabs-panel-padding: 36px;

.tabs {
	$self: &;

	display: flex;
	flex-wrap: wrap;
	width: 100%;
	overflow: visible;


	// Panel
	// ==========================================================================

	&-panel {
		margin-top: 1.6rem;
		width: 100%;
		display: block;
		visibility: visible;
		padding: $tabs-panel-padding;
		background: #fff;
		border: $tabs-border;
		border-radius: $tabs-border-radius;
		overflow: visible;
		height: auto;
		//opacity: 0;

		&-naked {
			padding: 0;
			background-color: transparent;
			border: 0;
		}

		&-active {
			visibility: visible;
			opacity: 1;
			//transform: scale(1) !important; //Overwrite specificity of left and right tabs;
		}
	}


	// Bottom
	// ==========================================================================
	&-bottom {
		#{$self}-label {
			order: 1000;
			border-top: 0;

			&:after {
				top: 0;
				bottom: auto;
			}
		}

		#{$self}-panel {
			border-top: 0;
			border-bottom: $tabs-border-color;
		}
	}

}
