// -----------------------------------------------------------------------------
// _transitions.scss
// This file contains all styles related to Vye transitions
// -----------------------------------------------------------------------------


.trans {

	// Fade
	// =========================================================================

	&-fade-enter-active,
	&-fade-leave-active {
		transition: opacity 300ms ease;
	}

	&-fade-enter,
	&-fade-leave-to  {
		opacity: 0;
	}

	// Fade Quick
	// =========================================================================

	&-fade-quick-enter-active,
	&-fade-quick-leave-active {
		transition: opacity 180ms ease;
	}

	&-fade-quick-enter,
	&-fade-quick-leave-to  {
		opacity: 0;
	}

	// Fade Height
	// =========================================================================

	&-fade-height {

		&-enter-active {
			animation: fade-in 300ms forwards;
		}
		&-leave-active {
			animation: fade-in 300ms forwards reverse ease-out;
		}

		@keyframes fade-in {
			0% {
				opacity: 0;
				max-height: 0;
			}

			50% {
				max-height: 21px;
			}

			100% {
				opacity: 1;
				max-height: 21px;
			}
		}
	}
}


