# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

## Large blobs
*.zip

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# OS Folders
.DS_Store
node_modules

# Local environment files
/.env
/.env.local
/.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.idea/
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Verbis specific
/storage/uploads
/dist/*
admin/dist/*
!admin/dist/.gitkeep
verbisexec
verbisexec-linux
verbisexec.old
*blob.go
CREDENTIALS.md
