.slick-arrow,
.trans {
    -webkit-transition: all .3s;
    -moz-transition: all .3s
}

*,
:after {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased
}

::selection {
    background: #b3c1d8
}

::-moz-selection {
    background: #b3c1d8
}

a {
    color: #2f2f2f
}

a:hover {
    text-decoration: none
}

a.text-link {
    color: #2f2f2f;
    text-decoration: underline
}

a.text-link:focus,
a.text-link:hover {
    color: #6a882c
}

body {
    background: #fff;
    color: #2f2f2f;
    font-family: Open Sans, MuseoSans-Light, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 15px
}

.cookie-notice {
    background-color: #b6d323;
    text-align: center;
    padding: 1.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center
}

.cookie-notice a {
    border-bottom: 1px solid #252525
}

.cookie-notice a,
.cookie-notice a:active,
.cookie-notice a:focus,
.cookie-notice a:hover {
    color: #2f2f2f;
    text-decoration: none
}

.cookie-notice button.close {
    margin-left: 20px;
    padding: 0 20px;
    float: none
}

.cookie-notice button.close i.fa {
    font-size: 2.2rem
}

.cookie-notice button.close:active,
.cookie-notice button.close:focus,
.cookie-notice button.close:hover {
    outline: none;
    box-shadow: none;
    color: #d91f26
}

header.primary nav.navbar {
    display: block
}

header.primary nav.navbar a.navbar-brand {
    display: inline-block
}

header.primary nav.navbar a.navbar-brand img.logo {
    max-width: 213px;
    width: 100%;
    height: auto;
    margin-top: -6px
}

header.primary nav.navbar ul.navbar-sup {
    display: inline-block;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0
}

header.primary nav.navbar ul.navbar-sup li.nav-item {
    display: inline-block
}

header.primary nav.navbar ul.navbar-sup li.nav-item+li.nav-item {
    border-left: 1px solid #555;
    margin-left: 1rem;
    padding-left: 1rem
}

header.primary nav.navbar ul.navbar-sup li.nav-item a.nav-link {
    color: #2f2f2f;
    padding: 0;
    font-size: 16px;
    line-height: 1
}

header.primary nav.navbar ul.navbar-sup li.nav-item a.nav-link.btn {
    background-color: #f3f3f3;
    border-radius: 2px;
    font-size: 16px;
    border: 2px solid #e5e5e5;
    padding: .9rem 1rem;
    font-weight: 600
}

header.primary nav.navbar ul.navbar-sup li.nav-item a.nav-link.btn i.fa {
    margin-left: 10px
}

header.primary nav.navbar ul.navbar-sup li.nav-item a.nav-link.btn:hover {
    background-color: #333;
    color: #fff
}

header.primary nav.navbar .navbar-collapse {
    background-color: #333;
    color: #fff;
    border-bottom: 6px solid #d91f26
}

header.primary nav.navbar .navbar-collapse ul.navbar-nav li.nav-item {
    border-left: 1px solid hsla(0, 0%, 100%, .4);
    flex-grow: 1
}

header.primary nav.navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
    color: #fff;
    display: block;
    padding: 0 5px;
    font-size: .8rem;
    line-height: 50px;
    text-align: center
}

header.primary nav.navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link i.fa {
    font-size: 1.2rem;
    vertical-align: middle;
    margin-left: 4px
}

header.primary nav.navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link:hover {
    background-color: #d91f26;
    color: #fff
}

header.primary nav.navbar .navbar-collapse ul.navbar-nav li.nav-item:last-child {
    border-right: 1px solid hsla(0, 0%, 100%, .4)
}

section.page-nav {
    background-color: #f3f3f3;
    text-align: center;
    font-size: 16px
}

section.page-nav ul {
    margin: 0;
    padding: 0
}

section.page-nav ul,
section.page-nav ul li {
    display: inline-block
}

section.page-nav ul li+li {
    margin-left: 15px
}

section.page-nav ul li b {
    font-weight: 800
}

section.page-nav ul li a {
    display: inline-block;
    color: #2f2f2f;
    padding-bottom: 16px
}

section.page-nav ul li a:focus,
section.page-nav ul li a:hover {
    box-shadow: inset 0 -3px 0 #d91f26;
    text-decoration: none
}

section.page-nav ul li.active a {
    box-shadow: inset 0 -3px 0 #d91f26
}

section.breadcrumbs ul {
    margin: 0;
    padding: 0
}

section.breadcrumbs ul li {
    color: #bbb;
    display: inline-block
}

section.breadcrumbs ul li:after {
    content: "/";
    margin-left: 10px;
    margin-right: 2px
}

section.breadcrumbs ul li:last-child:after {
    content: "";
    display: none
}

section.breadcrumbs ul li a {
    font-size: 10px;
    color: #acacac;
    padding-bottom: 4px
}

section.breadcrumbs ul li a:focus,
section.breadcrumbs ul li a:hover {
    border-bottom: 1px solid #2f2f2f;
    color: #2f2f2f;
    text-decoration: none
}

main .page-title {
    font-weight: 600
}

main .page-title.red {
    color: #d91f26
}

main h1.page-title {
    font-size: 2.4rem
}

main h1.page-title+p.lead {
    font-size: 1.5rem;
    line-height: 35px;
    margin-bottom: 45px
}

main h2 {
    font-size: 35px;
    line-height: 38px
}

main h2,
main h3 {
    letter-spacing: -.07rem;
    margin-bottom: 30px
}

main h3 {
    font-size: 30px;
    line-height: 35px
}

main article p {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 25px
}

main article ol li,
main article ul li {
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 25px
}

main article .author {
    display: flex;
    align-items: center
}

main article .author img.avatar {
    width: 90px;
    height: 90px;
    border-radius: 50%
}

main article .author .text-cont {
    padding-left: 15px
}

main article .author .text-cont a.author-link {
    font-weight: 600;
    border-bottom: 1px solid #2f2f2f;
    display: inline-block;
    margin-bottom: 5px
}

main article .author .text-cont a.author-link:hover {
    text-decoration: none;
    color: #b6d323
}

.card.post,
main article .author .text-cont span {
    display: block
}

.card.post {
    height: 100%;
    background-color: #f3f3f3;
    color: #2f2f2f
}

.card.post a.img-cont {
    display: block
}

.card.post a.img-cont img {
    width: 100%;
    height: auto
}

.card.post a.img-cont:focus,
.card.post a.img-cont:hover {
    opacity: .8
}

.card.post .text-cont {
    border-top: 5px solid #d91f26
}

.card.post .text-cont a:hover {
    text-decoration: underline
}

.card.post .text-cont a.category {
    text-transform: uppercase;
    font-size: 14px;
    display: block;
    color: #555
}

.card.post .text-cont a.card-title {
    color: #d91f26;
    font-weight: 600;
    font-size: 1.2rem;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px
}

.tag-cloud ul {
    margin-left: -4px;
    margin-right: -4px;
    padding: 0
}

.tag-cloud ul li,
.tag-cloud ul li a {
    display: inline-block
}

.tag-cloud ul li a {
    font-size: 14px;
    background-color: #f3f3f3;
    color: #2f2f2f;
    margin: 4px;
    padding: 2px 4px
}

.social a.btn,
.tag-cloud ul li a:hover {
    color: #fff;
    background-color: #333
}

.social a.btn {
    padding: 0;
    display: inline-block
}

.social a.btn.btn-wide {
    padding: .2rem .75rem
}

.social a.btn.btn-wide.btn-xl {
    padding: .6rem 1.75rem
}

.social a.btn.btn-round {
    border-radius: 32px
}

.social a.btn.twitter {
    background-color: #2aa9dc
}

.social a.btn.twitter:hover {
    background-color: #2f2f2f
}

.social a.btn.facebook {
    background-color: #0074bd
}

.social a.btn.facebook:hover {
    background-color: #2f2f2f
}

.social a.btn.youtube {
    background-color: #e6202d
}

.social a.btn.youtube:hover {
    background-color: #2f2f2f
}

.social a.btn.linkedin {
    background-color: #1686b0
}

.social a.btn.linkedin:hover {
    background-color: #2f2f2f
}

.social a.btn:hover {
    background-color: #b6d323;
    color: #fff
}

footer.primary {
    padding: 120px 0
}

footer.primary h6.col-heading {
    font-size: 1.4rem;
    font-weight: 600;
    display: block;
    margin-bottom: 25px
}

footer.primary nav ul {
    margin: 0;
    padding: 0 2rem 0 0
}

footer.primary nav ul li {
    display: block
}

footer.primary nav ul li+li {
    margin-top: 25px
}

footer.primary nav ul li a {
    display: inline-block;
    color: #2f2f2f;
    border-bottom: 1px solid transparent;
    font-size: 16px
}

footer.primary nav ul li a:focus,
footer.primary nav ul li a:hover {
    border-bottom: 1px solid #2f2f2f
}

footer.primary nav ul li a:active {
    color: #62a224
}

footer.primary nav ul.social {
    text-align: center;
    margin-right: 1rem;
    border-right: 1px solid rgba(0, 0, 0, .32)
}

footer.primary nav ul.social li+li {
    margin-top: 15px
}

footer.primary nav ul.social li a {
    font-size: 1.6rem;
    display: inline-block;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    text-align: center;
    background-color: #f3f3f3;
    line-height: 52px;
    color: #fff
}

footer.primary nav ul.social li a:focus,
footer.primary nav ul.social li a:hover {
    border: none
}

footer.primary .text-cont a.btn {
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: 32px;
    padding: .75rem 1.75rem;
    display: inline-block;
    color: #2f2f2f;
    font-size: .9rem;
    font-weight: 600
}

footer.primary .text-cont a.btn i.fa {
    margin-left: 8px;
    font-size: .9rem
}

footer.primary .text-cont a.btn:active,
footer.primary .text-cont a.btn:focus,
footer.primary .text-cont a.btn:hover {
    background-color: #b6d323;
    border-color: #b6d323;
    outline: none;
    box-shadow: none
}

footer.primary .text-cont p {
    line-height: 1.2
}

footer.primary .text-cont p.legal {
    color: #d91f26;
    font-weight: 600
}

@media (min-width:992px) {
    .container {
        max-width: 100%
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1210px!important
    }
    .container.container-md,
    .container.container-sm {
        max-width: 1024px!important
    }
    header.primary nav.navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link {
        font-size: 15px;
        padding: 0 12px
    }
    header.primary nav.navbar .navbar-collapse ul.navbar-nav li.nav-item a.nav-link i.fa {
        margin-left: 6px;
        font-size: 1.4rem
    }
}