// -----------------------------------------------------------------------------
// _stack.scss
// This file contains all styles related to the stack component.
// -----------------------------------------------------------------------------

$stack-light-colour: rgba($primary, 0.1);
$stack-dark-colour: rgba($primary, 0.3);

.stack {
	$self: &;

	position: relative;
	width: 100%;
	overflow: hidden;

	// Viewer
	// ==========================================================================

	&-viewer {
		display: none;
		width: 100%;
		height: 100%;

		&-active {
			display: block;
		}
	}

	// Main
	// ==========================================================================

	&-main {
		height: 100%;
		background-color: $white;
		border-left: 1px solid $grey-light;

		&-header {
			padding: 1rem 2rem;
			background-color: $bg-color;
			border-bottom: 1px solid $grey-light;

			* {
				font-size: 1rem;
				margin-bottom: 0;
			}

			&-name {
				color: $grey;
				margin-bottom: 2px;
			}

			&-file {
				color: $black;
			}
		}

		&-content {
			display: flex;
			width: 100%;
			height: 100%;
			overflow-x: scroll;
		}
	}

	// Code
	// ==========================================================================

	&-code {
		position: relative;
		//width: 100%;
		height: auto;
		margin: 0;
		flex-grow: 1;

		code {
			margin: 0;
			height: 100%;
			width: 100%;
			min-height: 100%;
			font-size: 12px;
			background-color: transparent;
			padding: 0;
			line-height: 2 !important;
		}

		&-line {
			position: relative;
			width: auto;
			min-width: 100%;
			padding-left: 14px;
			margin-bottom: 0;
			display: flex;

			&-highlight {
				background-color: $stack-light-colour;
			}
		}
	}

	// Line Props
	// ==========================================================================

	&-line,
	&-code-line {
		font-size: 12px;
		line-height: 2 !important;
		font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
		height: 24px
	}

	// Ruler
	// ==========================================================================

	&-ruler {
		position: sticky;
		flex: none;
		left: 0;
		z-index: 20;
		background-color: $bg-color;
		border-right: 1px solid $grey-light;
	}

	// Line
	// ==========================================================================

	&-line {
		padding: 0;
		font-size: 12px;
		color: $secondary;
		width: 40px;
		text-align: center;

		&-highlight {
			background-color: $stack-dark-colour;
		}
	}

	// Frames
	// ==========================================================================

	&-frame {
		min-height: 100vh;

		// Header
		// ==========================================================================

		&-header {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 1rem;
			background-color: $bg-color;

			p {
				margin-bottom: 0;
			}
		}

		// Group
		// ==========================================================================

		&-group {
			grid-template-columns: 3rem 1fr auto;
			display: grid;
			align-items: flex-end;
			border-bottom: 1px solid $grey-light;
			cursor: pointer;

			// Active
			// ==========================================================================

			&-active {
				background-color: rgba($primary, 0.1);

				#{$self}-frame-file {
					display: block;
				}

				#{$self}-frame-name {
					color: $primary !important;
				}

				#{$self}-frame-details {
					border-left-color: $primary;
				}
			}

			// Hidden
			// ==========================================================================

			&-hidden {
				display: none;
			}

			// Vendor
			// ==========================================================================

			&-vendor {

				* {
					color: $grey !important;
				}
			}
		}

		// Icon
		// ==========================================================================

		&-icon {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;

			svg {
				width: 16px;
				height: auto;

				path {
					fill: $grey;
				}
			}
		}

		// Details
		// ==========================================================================

		&-details {
			display: grid;
			align-items: center;
			grid-gap: 0.5rem;
			font-weight: 500;
			line-height: 1.2;
			padding-left: 0.75rem;
			padding-top: 1rem;
			padding-bottom: 1rem;
			flex-grow: 2;
			border-left: 2px solid $stack-dark-colour;

			small {
			 	word-break: break-all;
				color: $secondary;
			}
		}

		// Text
		// ==========================================================================

		&-name {
			font-weight: 600;
		}

		&-file {
			display: none;
			color: $grey-light;
		}

		&-number,
		&-line {
			width: 50px;
			min-width: 50px;
			font-size: 12px;
			text-align: center;
			padding: 1rem 0.5rem;
			font-weight: 600;
			color: $secondary;
		}

		&-line {
			font-weight: 400;
		}

		&-expand {
			cursor: pointer;
		}
	}
}