// -----------------------------------------------------------------------------
// _home.scss
// This file contains all styles related to the home section.
// -----------------------------------------------------------------------------

.home {


	&-hero-canvas {
		position: absolute;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		//z-index: 9;
	}


	// Tablet
	// =========================================================================

	@include media-tab {
	}

	// Desktop
	// =========================================================================

	@include media-desk {
	}
}
