// -----------------------------------------------------------------------------
// _fonts.scss
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// Atten Round New Book
// ==========================================================================

@font-face {
  font-family: 'Atten Round New';
  src: url('#{$font-path}AttenRoundNew-Book.woff2') format('woff2'),
  url('#{$font-path}AttenRoundNew-Book.woff') format('woff'),
  url('#{$font-path}AttenRoundNew-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atten Round New';
  src: url('#{$font-path}AttenRoundNew-Medium.woff2') format('woff2'),
  url('#{$font-path}AttenRoundNew-Medium.woff') format('woff'),
  url('#{$font-path}AttenRoundNew-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Atten Round New';
  src: url('#{$font-path}AttenRoundNew-Bold.woff2') format('woff2'),
  url('#{$font-path}AttenRoundNew-Bold.woff') format('woff'),
  url('#{$font-path}AttenRoundNew-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

