// -----------------------------------------------------------------------------
// _typography.scss
// This file contains all type declerations (h1, h2, p etc) for whole site.
// -----------------------------------------------------------------------------

// Global
// =========================================================================

html,
body {
	color: $copy-text;
	font-family: $font;
	font-size: 90%;
	font-kerning: normal;
	font-variant-ligatures: common-ligatures;

	@include media-tab {
		font-size: 95%;
	}

	@include media-desk {
		font-size: 100%;
	}

	@include media-hd {
		font-size: 102.5%;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

// Headings
// =========================================================================

h1,
.heading-1 {
	@include fluid-type(320px, 1408px, 36px, 74px);
	color: $primary;
	line-height: 1.1;
	font-weight: bold;
	margin-bottom: 20px;

	@include media-tab {
		margin-bottom: 50px;
	}

	@include media-desk {
		margin-bottom: 90px;
	}

	@include media-hd {
		margin-bottom: 110px;
	}
}

h2 {
	@include fluid-type(320px, 1408px, 30px, 56px);
	color: $primary-dark;
	line-height: 1.2;
	font-weight: bold;
	margin-bottom: 1.6rem;
}

h3 {
	@include fluid-type(320px, 1408px, 26px, 42px);
	color: $primary;
	line-height: 1.2;
	font-weight: bold;
	margin-bottom: 1rem;
}

h4 {
	@include fluid-type(320px, 1408px, 22px, 27px);
	color: $primary-dark;
	font-weight: bold;
	margin-bottom: 1rem;
	line-height: 1.3;
}

h5 {
	@include fluid-type(320px, 1408px, 18px, 23px);
	color: $primary-dark;
	font-weight: bold;
	margin-bottom: 10px;
	line-height: 1.3;
}

h6 {
	@include px-to-rem(12);
	color: rgba($off-black, 0.8);
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 6px;
}

// Paragraph
// =========================================================================

p {
	@include px-to-rem(18)
	color: $copy;
	margin-bottom: 1rem;
	font-weight: normal;

	&.lead {
		@include fluid-type(320px, 1408px, 18px, 27px);
		font-weight: normal;
		line-height: 1.4;
	}
}

// Links
// =========================================================================

a {
	color: $primary;
	font-weight: bold;
	text-decoration: none;
	transition: color 200ms ease;
	will-change: color;

	@include on-event {
		color: $secondary;
		text-decoration: none;
	}
}

// Text Containers
// =========================================================================

.text-cont {
	margin-bottom: $text-cont-margin;

	p:last-of-type {
		margin-bottom: 0;
	}

	&-no-margin {
		margin-bottom: 0 !important;
	}

	@include media-tab {
		margin-bottom: $text-cont-margin-tab;
	}

	@include media-desk {
		margin-bottom: $text-cont-margin;
	}
}