// -----------------------------------------------------------------------------
// _fonts.scss
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// Inter
// =========================================================================

@font-face {
	font-family: 'Inter';
	src: url('#{$font-path}/inter/Inter-Light.woff2') format('woff2'),
	url('#{$font-path}/inter/Inter-Light.woff') format('woff'),
	url('#{$font-path}/inter/Inter-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('#{$font-path}/inter/Inter-Regular.woff2') format('woff2'),
	url('#{$font-path}/inter/Inter-Regular.woff') format('woff'),
	url('#{$font-path}/inter/Inter-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('#{$font-path}/inter/Inter-Medium.woff2') format('woff2'),
	url('#{$font-path}/inter/Inter-Medium.woff') format('woff'),
	url('#{$font-path}/inter/Inter-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('#{$font-path}/inter/Inter-SemiBold.woff2') format('woff2'),
	url('#{$font-path}/inter/Inter-SemiBold.woff') format('woff'),
	url('#{$font-path}/inter/Inter-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('#{$font-path}/inter/Inter-Bold.woff2') format('woff2'),
	url('#{$font-path}/inter/Inter-Bold.woff') format('woff'),
	url('#{$font-path}/inter/Inter-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

// Inter
// =========================================================================

@font-face {
	font-family: "feather";
	src: url('#{$font-path}/feather/feather.eot?t=1525787366991'); /* IE9*/
	src: url('#{$font-path}/feather/feather.eot?t=1525787366991#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('#{$font-path}/feather/feather.woff?t=1525787366991') format('woff'), /* chrome, firefox */
	url('#{$font-path}/feather/feather.ttf?t=1525787366991') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
	url('#{$font-path}/feather/feather.svg?t=1525787366991#feather') format('svg'); /* iOS 4.1- */
}