// -----------------------------------------------------------------------------
// _code.scss
// This file contains all styles related to the code component.
// -----------------------------------------------------------------------------

.code {
	$self: &;

	// Code
	// ==========================================================================

	code {

	}

	// HLJS
	// ==========================================================================

	.hljs {
		background-color: transparent;
		padding: 0
	}
}