// -----------------------------------------------------------------------------
// _definition.scss
// This file contains all styles related to the definition component.
// -----------------------------------------------------------------------------

// Variables
$definition-font-size-mob: 13px;
$definition-font-size: 0.83rem;

.definition {
	$self: &;

	// Props
	// ==========================================================================

	&-label,
	&-value {
		font-size: $definition-font-size-mob;
		line-height: 1.25;
	}

	// List
	// ==========================================================================

	&-list {
		position: relative;
		display: grid;
		grid-column-gap: 1.5rem;
		grid-row-gap: 0.5rem;
	}

	// Title
	// ==========================================================================

	&-title {
		font-weight: bold;
		margin-bottom: 0.75rem;
		font-size: 1rem;
		text-align: left;
	}

	// Label
	// ==========================================================================

	&-label {
		text-align: left;
		line-height: 1.25;
		margin: 0;
		color: $secondary;
	}

	// Value
	// ==========================================================================

	&-value {
		word-break: break-all;
		text-align: left;
		margin: 0 0 10px 0;
	}

	// Desktop
	// ==========================================================================

	@include media-tab {

		&-label,
		&-value {
			font-size: $definition-font-size;
			line-height: 1.25;
		}

		&-value {
			margin: 0;
		}
	}

	// Desktop
	// ==========================================================================

	@include media-tab {

		&-list {
			grid-column-gap: 1.5rem;
			grid-row-gap: 0.6rem;
			grid-template-columns: 14rem 1fr;
		}

		&-label {
			text-align: right;
		}

		&-title {
			margin-left: 15.5rem;
			font-size: 0.9rem;
		}
	}
}

