// -----------------------------------------------------------------------------
// _stack.scss
// This file contains all styles related to the stack component.
// -----------------------------------------------------------------------------

.stack {
	$self: &;

	position: relative;
	width: 100%;

	// Item
	// ==========================================================================

	&-item {
		position: relative;
		width: 100%;
		display: flex;
		border-bottom: 1px solid $grey-light;

		&-highlight {
			background-color: rgba($primary, 0.2);
		}
	}

	// Line
	// ==========================================================================

	&-line {
		display: flex;
		justify-content: center;
		margin-right: 14px;
		padding: 22px 0;
		border-right: 1px solid $primary;
		width: 70px;
		min-width: 70px;
		max-width: 70px;
		font-size: 14px;
		color: $secondary;
	}

	// Cont
	// ==========================================================================

	&-cont {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	// File
	// ==========================================================================

	&-file {
		@include px-to-rem(14);
	}

	// Line
	// ==========================================================================

	&-name {
		@include px-to-rem(12);
		color: $secondary;
	}
}