// -----------------------------------------------------------------------------
// _footer.scss
// This file contains all styles related to the footer of the site.
// -----------------------------------------------------------------------------

.footer {
	$self: &;

	background-color: $off-black;
	padding: map-get($section-padding, mob) * 2 0 map-get($section-padding, mob) 0;

	// Props
	// =========================================================================

	* {
		color: $white;
	}

	p {
		margin-bottom: 0;
	}

	// Logo
	// =========================================================================

	&-logo {
		width: 100%;
		margin-bottom: 1.6rem;

		img {
			width: 100%;
		}
	}

	// Nav
	// =========================================================================

	&-nav {

		ul {

			li {
				margin-bottom: 10px;

				a,
				span {
					@include px-to-rem(18);
					font-weight: bold;
					cursor: pointer;
					transition: color 200ms ease;
					will-change: color;

					&:hover {
						color: $secondary !important;
					}
				}
			}
		}
	}

	// Main
	// =========================================================================

	&-main {
		padding-top: map-get($section-padding, mob);
	}

	// Sub
	// =========================================================================

	&-sub {
		margin-top: 1rem;
		justify-content: center;

		p {
			text-align: left;
			margin-bottom: 0;
		}
	}

	// Tablet
	// =========================================================================

	@include media-tab {
		padding: map-get($section-padding, tab) 0 map-get($section-padding, tab) 0;

		&-main {
			padding-top: map-get($section-padding, tab);
			justify-content: center;
		}

		&-sub {
			margin-top: 1.6rem;
		}
	}

	// Desktop
	// =========================================================================

	@include media-desk {
		padding: map-get($section-padding, desk) / 2 0 map-get($section-padding, desk) / 2 0;

		&-logo {
			margin-bottom: 0;
		}

		&-main {
			padding-top: map-get($section-padding, desk);
		}

		&-sub {
			margin-top: 80px;

			p {
				text-align: center;
			}
		}
	}

	// HD
	// =========================================================================

	@include media-hd {
		padding: map-get($section-padding, hd) / 2 0 map-get($section-padding, hd) / 2 0;

		&-main {
			padding-top: map-get($section-padding, hd);
		}
	}

}
