// -----------------------------------------------------------------------------
// _form.scss
// This file contains all styles related to the forms of the site.
// -----------------------------------------------------------------------------

// Variables
$form-input-padding: 26px;
$form-gradient-degree: 144deg;

.form {
    $self: &;

	position: relative;
	display: block;

	// Containers
	// =========================================================================

	&-input-cont {
		position: relative;
		border-radius: 1000px;
		overflow: hidden;
		background-color: $white;

		&-border {
			border: 2px solid $white;
		}

		//Background for form success
		&:before {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			border-radius: 1000px;
			background: $secondary;
			background: linear-gradient($form-gradient-degree, rgba($secondary, 1) 0%, rgba(#F7DFA8, 1) 100%);
			transform: translateX(-100%);
			transition: transform 200ms ease;
			will-change: transform;
			transition-delay: 300ms;
		}
	}

	// Input
	// =========================================================================

	&-input {
		position: relative;
		width: 100%;
		outline: none;
		color: $copy;
		-webkit-appearance: none;
		appearance: none;
		border-radius: 1000px;
		background-color: $white;
		border: 3px solid $white;
		padding: 0 $form-input-padding;
		@include px-to-rem(18);
		text-align: left;
		transition: all 160ms ease;
		will-change: transform;
	}

	// Message
	// =========================================================================

	&-message {
		position: absolute;
		top: 4px;
		left: $form-input-padding + 3px;
		@include px-to-rem(13);
		color: $error;
		font-weight: bold;
		opacity: 0;
		transform: translateY(-5px);
		transition: all 160ms ease;
		will-change: transform;
	}

	// Error & Success
	// =========================================================================

	&-has-error {
		border: 2px solid $error;

		#{$self}-input {
			padding-top: 10px;
		}

		#{$self}-message {
			opacity: 1;
			transform: translateY(0);
		}
	}

	// Form Success
	// =========================================================================

	&-success {

		&-message {
			position: absolute;
			left: $form-input-padding;
			top: 50%;
			transform: translate(-20px, -50%);
			color: $off-black;
			font-weight: bold;
			opacity: 0;
			transition: opacity 200ms ease, transform 200ms ease;
			will-change: opacity, transform;
			transition-delay: 400ms;
		}

		#{$self}-success-message {
			opacity: 1;
			transform: translate(0, -50%);
		}

		#{$self}-input {
			padding-top: 0;
			opacity: 0;
		}

		#{$self}-input-cont {
			border-color: $secondary;

			&:before {
				transform: translateX(0);
			}
		}

		#{$self}-message {
			opacity: 0;
			transform: translateY(-6px);
		}

		.btn {
			transform: translateX(150%);
		}
	}

	// Submit
	// =========================================================================

	&-input-cont-submit {
		display: flex;
		align-items: center;

		#{$self}-input {
			height: 56px;
			text-align: left;
		}


		.btn {
			position: absolute;
			right: 0;
			height: 56px;
		}
	}
    
    // Autocomplete
    // =========================================================================

    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active  {
        -webkit-box-shadow: 0 0 0 30px white inset !important;
    }


	// Placeholder
	// =========================================================================

	@mixin form-placeholder {
		color: $off-black;
		opacity: 1;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	::placeholder {
		@include form-placeholder
	}

	:-ms-input-placeholder {
		@include form-placeholder
	}

	::-ms-input-placeholder {
		@include form-placeholder
	}

	// Tablet
	// =========================================================================

	@include media-tab {
	}

	// Desktop
	// =========================================================================

	@include media-desk {
	}
}




