// -----------------------------------------------------------------------------
// _hero.scss
// This file contains all styles related to the hero of the site.
// -----------------------------------------------------------------------------

.hero {
	$self: &;

	position: relative;
	display: flex;
	align-items: center;
	background-color: $primary;
	height: 90vh;
	-webkit-mask:
			url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1920' height='94.284' viewBox='0 0 1920 94.284'><path transform='translate(0 -40)' d='M0,82.746l107.732-8.275c107.732-8.275,323.2-24.824,538.661-16.549s430.929,41.373,646.393,57.922,430.929,16.549,538.661,16.549H1939.18V0H0Z' fill='white'/></svg> ") bottom / 100% auto,
			linear-gradient(white 0 0) top/100% calc(100% - 4vw);
	-webkit-mask-repeat: no-repeat;
	z-index: 8;

	// Text
	// =========================================================================

	&-text {
		position: relative;
		display: block;
		z-index: 10;
		margin-top: 10vh;
	}

	// Flat
	// =========================================================================

	&-flat {
		clip-path: none !important;
		-webkit-clip-path: none !important;
	}

	// Image
	// =========================================================================

	&-image {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 9;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: 1;
			opacity: 0.5;
		}

		&-gradient {
			width: 100vw;
			height: 60%;

			img {
				opacity: 1;
			}

			&:after {
				content: "";
				position: absolute;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				z-index: 2;
			}
		}
	}

	// Small
	// =========================================================================

	&-small {
		height: 50vh;
		min-height: 600px;
		-webkit-mask:
				url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1920' height='94.284' viewBox='0 0 1920 94.284'><path d='M0,118.285H1920V44.5c-46.883,5.119-95.145,9.678-143.446,13.549-48.11,3.856-97.408,7.122-146.523,9.708C1581,70.339,1530.98,72.305,1481.36,73.6s-100.061,1.953-149.891,1.953c-50.035,0-100.653-.662-150.452-1.967-50.01-1.311-100.418-3.3-149.823-5.919-84.811-4.543-169.6-11.1-251.589-17.437l-.056,0c-73.084-5.65-148.656-11.493-224.021-15.894C438.229,27.476,319.261,24,201.927,24,134.1,24,66.162,25.174,0,27.487v90.8Z' transform='translate(1920 118.285) rotate(180)' fill='white'/></svg> ") bottom/100% auto,
				linear-gradient(white 0 0) top/100% calc(100% - 4vw);
		-webkit-mask-repeat: no-repeat;
	}

	// Colours
	// =========================================================================

	&-blue {
		background-color: $primary;

		* {
			color: $white;
		}

		#{$self}-image:after {
			background: $primary;
			background: linear-gradient(0deg, rgba($primary, 1) 0%, rgba($black, 0) 100%);

			@include media-tab {
				background: linear-gradient(90deg, rgba($primary, 1) 0%, rgba($black, 0) 100%);
			}
		}
	}

	&-yellow {
		background-color: $secondary;

		#{$self}-image:after {
			background: $secondary;
			background: linear-gradient(0deg, rgba($secondary, 1) 0%, rgba($black, 0) 100%);

			@include media-tab {
				background: linear-gradient(90deg, rgba($secondary, 1) 0%, rgba($black, 0) 100%);
			}
		}

		.lead {
			color: $off-black;
		}
	}

	&-off-black {
		background-color: $off-black;

		* {
			color: $white;
		}

		#{$self}-image:after {
			background: $off-black;
			background: linear-gradient(0deg, rgba($off-black, 1) 0%, rgba($black, 0) 100%);

			@include media-tab {
				background: linear-gradient(90deg, rgba($off-black, 1) 0%, rgba($black, 0) 100%);
			}
		}
	}

	// Tablet
	// =========================================================================

	@include media-tab {

		&-text {
			margin-top: 0;
			padding-bottom: 70px;
		}

		&-image {
			width: 50vw;
			height: 100%;

			img {
				opacity: 1;
			}

			&-gradient {
				width: 75vw;
			}
		}
	}

	// Desktop
	// =========================================================================

	@include media-desk {

		&-small {
			height: 50vh;
			min-height: 600px;
		}
	}

	// HD
	// =========================================================================

	@include media-hd {

		&-small {
			height: 50vh;
			min-height: 750px;
		}
	}
}
