// -----------------------------------------------------------------------------
// _terms.scss
// This file contains styles that are specific to the terms modal section.
// -----------------------------------------------------------------------------

.terms {
	$self: &;

	// Header
	// =========================================================================

	&-header {
		h2 {
			margin-bottom: 0;
		}
	}

	// Body
	// =========================================================================

	&-body {
		h2 {
			margin-bottom: 0;
		}

		h4 {
          color: $primary;
			margin-bottom: 5px;
		}

		#{$self}-text-cont {
			margin-bottom: 1.6rem;
		}
	}
}