// -----------------------------------------------------------------------------
// _button.scss
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

// Variables
$btn-padding: 13px 26px 12px 26px;
$btn-padding-large: 14px 26px;
$btn-arrow-size: 10px;
$btn-arrow-size-large: 12px;
$button-trans-time: 220ms;

.btn {
	$self: &;

	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: $primary;
	padding: $btn-padding;
	font-weight: bold;
	height: auto;
	user-select: none;
	line-height: 1;
	color: $white;
	@include px-to-rem(12);
	letter-spacing: 2px;
	text-transform: uppercase;
	border-radius: 1000px;
	cursor: pointer;
	border: none;
	outline: none;
	box-shadow: 0 3px 6px 0 rgba($black, 0.16);
	transition: box-shadow $button-trans-time ease;
	will-change: box-shadow;

	// Colours
	// =========================================================================

	&-blue {
		background: $primary;
		color: $white;
	}

	&-yellow {
		background: $secondary;
		color: $off-black;

		#{$self}-spinner {
		    border: 2px solid $off-black;
		}
	}

	// Large
	// =========================================================================

	&-large {
		@include px-to-rem(16);
	}

	// Arrow
	// =========================================================================

	&-arrow {
		padding: 13px 40px 12px 26px;
		overflow: hidden;

		&:after,
		&:before {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			display: block;
			width: $btn-arrow-size;
			height: $btn-arrow-size;
			background-image: url("/assets/images/button-arrow-white.svg");
			background-size: contain;
			background-repeat: no-repeat;
			z-index: 2;
		}

		span,
		&:before,
		&:after {
			transition: transform $button-trans-time cubic-bezier(0.250, 0.460, 0.450,  0.940), opacity 100ms;
			will-change: transform, opacity;
		}

		span {
			display: block;
		}

		&:before {
			left: 0;
			transform: translate(-100%, -50%);
		}

		&:after {
			right: 0;
			transform: translate(-20px, -50%);
		}

		&#{$self}-large {
			padding: 13px 50px 12px 26px;

			&:before,
			&:after {
				width: $btn-arrow-size-large;
				height: $btn-arrow-size-large;
			}
		}

		&#{$self}-blue:before,
		&#{$self}-blue:after {
			background-image: url("/assets/images/button-arrow-white.svg");
		}

		&#{$self}-yellow:before,
		&#{$self}-yellow:after {
			background-image: url("/assets/images/button-arrow-black.svg");
		}


		&:hover {

			span {
				transform: translateX(20%);
			}

			&:before {
				transform: translate(20px, -50%);
			}

			&:after {
				transform: translate(20px, -50%);
			}
		}
	}

	// Hover
	// =========================================================================

	&:hover {
		box-shadow: 0 3px 30px 0 rgba($black, 0.30);
	}

	// Loading
	// =========================================================================

	&-loading {
		transition: none;
		pointer-events: none;
		color: transparent !important;

		&:before,
		&:after,
		span:not(#{$self}-spinner) {
		    opacity: 0;
		}


		#{$self}-spinner {
			content: "";
			width: 18px;
			height: 18px;
			border: 2px solid $white;
			border-right-color: transparent !important;
			border-radius: 50%;
			display: inline-block;
			animation-duration: 0.75s;
			animation-iteration-count: infinite;
			animation-name: spinner;
			animation-timing-function: linear;
			position: absolute;
			top: 50%;
			left: 50%;
			margin-left: -9px;
			margin-top: -9px;
		}

		@keyframes spinner {
			0% {
				transform: rotate(0deg);
			}
			100% {
				transform: rotate(360deg);
			}
		}

		&:hover {
			box-shadow: none;
		}
	}

	// Tablet
	// =========================================================================

	@include media-tab {
	}

	// Desktop
	// =========================================================================

	@include media-desk {
	}
}
