// -----------------------------------------------------------------------------
// _card.scss
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------

$card-padding-mob: 22px;
$card-padding-tab: 26px;
$card-padding-desk: 30px;
$card-border-radius: 30px;
$card-trans-time: 240ms;

.card {
	$self: &;

	position: relative;
	display: block;
	margin-bottom: 1.6rem;
	background-color: $grey;
	border-radius: $card-border-radius;
	box-shadow: 0 3px 6px 0 rgba($black, 0.16);
	text-decoration: none !important;
	transition: box-shadow 200ms ease;
	will-change: box-shadow;

	// Props
	// =========================================================================

	&-category,
	&-title,
	&-content,
	&-author,
	&-date {
		color: rgba($off-black, 0.8);
	}

	&-content {
		font-size: 1rem;
	}

	// Body
	// =========================================================================

	&-body {
		padding: $card-padding-mob;
	}

	// Author & Date
	// =========================================================================

	&-author-date {
		display: flex;
		justify-content: space-between;
		align-items: center;

		#{$self}-author-name {
			color: rgba($primary, 0.8)
		}
	}

	// Footer
	// =========================================================================

	&-footer {
		position: relative;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		max-height: 63px;
		background-color: $white;
		padding: 12px $card-padding-mob;
		border-top: 2px solid $line;
		border-bottom-left-radius: $card-border-radius;
		border-bottom-right-radius: $card-border-radius;

		h6 {
			position: absolute;
			left: $card-padding-mob;
		}

		* {
			margin-bottom: 0;
		}
	}

	// Image
	// =========================================================================

	&-with-image {

		#{$self}-image {
			width: 100%;
			height: 180px;
			overflow: hidden;
			border-top-left-radius: $card-border-radius;
			border-top-right-radius: $card-border-radius;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: transform $card-trans-time ease;
			}
		}
	}

	// Hover
	// =========================================================================

	&:hover {
		box-shadow: 0 3px 30px 0 rgba($black, 0.20);

		&#{$self}-with-image #{$self}-image img {
			transform: scale(1.2);
		}
	}

	// Tablet
	// =========================================================================

	@include media-tab {

		&-body {
			padding: $card-padding-tab;
		}

		&-footer {
			padding: 10px $card-padding-tab;

			h6 {
				left: $card-padding-tab;
			}
		}

		&-with-image {

			#{$self}-image {
				height: 190px;
			}
		}
	}

	// Desktop
	// =========================================================================

	@include media-desk {

		&-body {
			padding: $card-padding-desk;
		}

		&-footer {
			padding: 14px $card-padding-desk;

			h6 {
				left: $card-padding-desk;
			}
		}

		&-with-image {

			#{$self}-image {
				height: 254px;
			}

			&#{$self}-small #{$self}-image {
				height: 185px;
			}
		}
	}
}
