// -----------------------------------------------------------------------------
// _divider.scss
// This file contains all styles related to the divider component.
// -----------------------------------------------------------------------------

.divider {
	width: 100vw;
	margin-bottom: 1rem;

	img {
		width: 100%;
	}

	// Tablet
	// =========================================================================

	@include media-tab {
	}

	// Desktop
	// =========================================================================

	@include media-desk {
	}
}
