// -----------------------------------------------------------------------------
// _list.scss
// This file contains all styles related to the list component.
// -----------------------------------------------------------------------------

// Variables
$list-moon-size-mob: 12px;
$list-moon-size-tab: 13px;
$list-moon-size-desk: 15px;


.list {
	$self: &;

	position: relative;
	display: block;
	margin-bottom: 1.6rem;

	// Props
	// =========================================================================

	li {
		font-size: 1rem;
		color: rgba($off-black, 0.8);
		margin-bottom: 10px;

		&:before {
			content: '';
			position: absolute;
			display: block;
			left: 0;
			background-size: contain;
			background-repeat: no-repeat;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}

	// Moon
	// =========================================================================

	&-moon {

		// First level
		li {
			margin-left: 26px;

			&:before {
				width: $list-moon-size-mob;
				height: $list-moon-size-mob;
				background-image: url("/assets/images/list-moon-blue.svg");
				transform: translateY(7px);
			}

			.list {
				background-color: yellow;
			}
		}

		// Second level
		> ul {
			margin-left: 26px;

			li {

				&:before {
					background-image: url("/assets/images/list-moon-yellow.svg");
				}
			}
		}
	}

	// Numbered
	// =========================================================================

	&-numbered {
		list-style-position: inside;
		padding: 0;
	}

	// Colours
	// =========================================================================

	&-blue li {
		color: $copy;
	}

	// Tablet
	// =========================================================================

	@include media-tab {

		&-moon li {
			margin-left: 30px;

			&:before {
				width: $list-moon-size-tab;
				height: $list-moon-size-tab;
			}
		}
	}

	// Desktop
	// =========================================================================

	@include media-desk {

		&-moon li {
			margin-left: 30px;

			&:before {
				width: $list-moon-size-desk;
				height: $list-moon-size-desk;
			}
		}
	}
}
