@font-face {
    font-family: 'Inter';
    src: url('../../src/assets/fonts/inter/Inter-Medium.woff2') format('woff2'),
        url('../../src/assets/fonts/inter/Inter-Medium.woff') format('woff'),
        url('../../src/assets/fonts/inter/Inter-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../src/assets/fonts/inter/Inter-SemiBold.woff2') format('woff2'),
        url('../../src/assets/fonts/inter/Inter-SemiBold.woff') format('woff'),
        url('../../src/assets/fonts/inter/Inter-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../src/assets/fonts/inter/Inter-Light.woff2') format('woff2'),
        url('../../src/assets/fonts/inter/Inter-Light.woff') format('woff'),
        url('../../src/assets/fonts/inter/Inter-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../src/assets/fonts/inter/Inter-Regular.woff2') format('woff2'),
        url('../../src/assets/fonts/inter/Inter-Regular.woff') format('woff'),
        url('../../src/assets/fonts/inter/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../../src/assets/fonts/inter/Inter-Bold.woff2') format('woff2'),
        url('../../src/assets/fonts/inter/Inter-Bold.woff') format('woff'),
        url('../../src/assets/fonts/inter/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

